{{define "cta"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="scripts/jquery.validationEngine-es.js" charset="utf-8"></script>
<script type="text/javascript" src="scripts/jquery.validationEngine.js" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function(){ $("#enviar").validationEngine({promptPosition : "topRight", scroll: true}); });
function activateCancel(){ $("#cancelbtn").addClass("show") }
function deactivateCancel(){ $("#cancelbtn").removeClass("show") }
function activeLghtbx(){ $('#contrano').removeClass("hidden");  $('#contrasi').addClass("hidden"); }
function deactiveLghtbx(){ $('#contrasi').removeClass("hidden");  $('#contrano').addClass("hidden"); }
</script>
<title>Administración de cuenta</title>
<link href="css/Origami.css" rel="stylesheet" type="text/css" />
<link href="css/elbuenfinSkin.css" rel="stylesheet" type="text/css" />
</head>
<body class="bgt-main">
<form method="post" class="frmE" id="enviar" name="enviar" action="/ctamod">
<div class="col-100PR  bgt-red-top first">
  <div class="col-cent">
   
    <div class="col-100PR first  BR-R-10px">
        <div class="col-14">
          <div class="col-10 marg-U80pix lineUD">
            <div class="marg-5px last">&nbsp;</div>
          </div>
        <img src="imgs/logo_header.png" width="124" height="124"  alt="el buen fin" class="marg-5px last"/></div>
		<div class="col-10 last marg-U80pix lineUD marg-R10pix">
		  	{{with .FormDataCta}}
              <p class="first marg-5px typ-Wh typeMx">Hola  {{.Nombre}}</p>
              <div class="marg-5px last"><a href="/salir" class="button grey little marg-10pix last"><span>SALIR</span></a></div>
			{{end}}
      </div>
    </div>
       <div class="col-24  Bg-Wh marg-D10pix">
         <div class="menuAdmin">
         <div class="col-19 last Bg-Drks">
         <div class="titlecond marg-U20pix">
           <h2 class="first">Usuario</h2>
         </div>
         <div class="hr-line"></div>
         <div class="col-15 marg-L50pix marg-U10pix"> 
		 {{with .FormDataCta}}
          <div class="Bg-Wh col-15 BR-R-5px">
            <div class="line">
              <label>Nombre(s) <span class="typ-Sc">*</span></label>
			  <input type="text" class="validate[required,custom[onlyLetterSp]] small {{.ErrNombre}}" name="Nombre" value="{{.Nombre}}" onchange="activateCancel()" />
            </div>
            <div class="line">
              <label>Apellidos <span class="typ-Sc">*</span></label>
			  <input type="text" class="validate[required,custom[onlyLetterSp]] small {{.ErrApellidos}}" name="Apellidos" value="{{.Apellidos}}" onchange="activateCancel()" />
            </div>
            <div class="line">
              <label>Perfil de puesto</label>
			  <input type="text" class="validate[optional] small {{.ErrPuesto}}" name="Puesto" value="{{.Puesto}}" onchange="activateCancel()" />
            </div>
            <div class="line">
              <label>Teléfono fijo con lada<span class="typ-Sc">*</span></label>
			  <input type="text" class="validate[required,custom[phone]] small {{.ErrTel}}" name="Tel" value="{{.Tel}}" onchange="activateCancel()"/>
            </div>
            <div class="line">
              <label>Teléfono celular</label>
			  <input type="text" class="validate[optional,custom[cellphone]] small {{.ErrCel}}" name="Cel" value="{{.Cel}}"  onchange="activateCancel()"/>
            </div>
            <div class="line">
				<label>Correo electrónico principal <br/><span class="typ-Sc">(Usuario de acceso)</span></label>
			    <input type="text" class="validate[required,custom[email]] small {{.ErrEmail}}" name="Email" value="{{.Email}}"  readonly="readonly"/>
            </div>
            <div class="line">
              <label>Correo electrónico segundo contacto</label>
				<input type="text" class="validate[optional,custom[email]] small {{.ErrEmailAlt}}" name="EmailAlt" value="{{.EmailAlt}}"  onchange="activateCancel()"/>
            </div>
            <div class="line" id="contrasi">
				<label><a href="#null" onclick="activeLghtbx()">Cambiar contraseña (clic aqui)</a></label>
            </div>
            <div id="contrano" class="hidden">
				<label><a href="#null" onclick="deactiveLghtbx()">Cerrar contraseña (clic aqui)</a></label>
				<div class="line">
				  <label>Contraseña (capture sólo para cambiar)<br /></label>
				  <input type="password" id="cpass" class="validate[optional] small {{.ErrPass}}" value="{{.Pass}}" name="Pass" onchange="activateCancel()"/>
				</div>
				<div class="line">
				  <label>Confirma contraseña (capture sólo para cambiar)<br /></label>
				  <input type="password" id="cpassconfirm" class="validate[optional,equals[cpass]] small {{.ErrPass1}}" value="{{.Pass}}"  name="Pass1" onchange="activateCancel()"/>
				</div>
            </div>
			<div class="line ">
				</br>
				</br>
				</br>
				<label for="accept">Para aceptar y realizar cambios a esta Cuenta haga clic en el recuadro <span class="typ-Sc">* </span></label>
				<input type="checkbox" class="validate[required] last" name="accept" value="1" id="accept"/>
				</br>
				</br>
				</br>
		    </div>
          </div>
          <div class="box1"> <span class="typ-Sc"> * </span>Todos los campos marcados son obligatorios </div>
		<div class="col-15"> 
	  	{{end}}
		 {{with .Sess}}
 	     <input type="hidden" name="key" value="{{.Id}}"/>
			<button type="submit" value="1" name="modificar" class="blue last big"><span>Guardar datos</span></button>
			<button type="reset" class="grey last big hidden" id="cancelbtn" onclick="deactivateCancel()"><span>Restablecer</span></button>
		 {{end}}
		</div>
     </div>
         
         </div>
         <div class="col-5" style="min-height:600px;">
         <h4 class="alineCenter typ-Tr ">Menú</h4>
           <ul class="menuAdmin">
             <li><a href="/dash"><span><img src="gfx/inicio.png" width="37" height="35" alt="inicio" /></span> Inicio</a></li>
             <li><a class="selected" href="#"><span><img src="gfx/admin.png"  width="37" height="35" alt="administrador" /></span> Usuario</a></li>
			 <li><a href="/le?d=a" class="selected"><span><img src="gfx/empresa.png" width="24" height="19" alt="empresas" /></span> Empresas</a></li>
             <li><a href="/prox"><span><img src="gfx/sucursal.png"  width="37" height="35" alt="sucursales" /></span> Sucursales</a></li>
             <li><a href="/prox#"><span><img src="gfx/oferta.png"  width="37" height="35" alt="ofertas" /></span> Ofertas</a></li>
			 <li><a href="/le?d=m"><span><img src="gfx/micrositio.png" width="25" height="19" alt="micrositios" /></span> Micrositios</a></li>
           </ul>
         </div>
         
         </div>
         
      <div class="box1 alineCenter"> <img src="imgs/abmlogo1.jpg" width="80" height="73" alt="abm" /><img src="imgs/orgn_4.jpg" width="107" height="80" alt="organismo"  class="padd-10px"/><img src="imgs/amipcilogo80.jpg" width="76" height="80" alt="amici" /><img src="imgs/orgn_5.jpg" width="98" height="68" alt="consejo cordinador empresarial"  class="padd-10px"/><img src="imgs/concamin-75x80.jpg" width="75" height="80" alt="concamin" /><img src="imgs/logo-concanaco-107x76.jpg" width="96" height="62" alt="coparmex"  class="padd-10px" /> <img src="imgs/Logo-COPARMEX-95x80.jpg" width="67" height="49" alt="concanaco"  class="padd-10px"/><img src="imgs/orgn_6.jpg" alt="gobierno federal" width="98" height="73" /><img src="imgs/orgn_7.jpg" width="95" height="65" alt="iniciativa mexico"  class="padd-10px"/> </div>
    <div class=" box1">
      <p class="typeMin">El Buen Fin © Todos los derechos reservados, México 2011
        Toda la información aquí publicada relativa a las características de los productos y servicios que participan en El Buen Fin © es responsabilidad exclusiva de las tiendas que ofrecen los servicios y/o la venta de los productos. <br />
        Del mismo modo, los precios, los porcentajes de descuento, las promociones y todas las ofertas financieras y/o económicas aquí publicadas son responsabilidad de las tiendas que lo ofrecen. </p>
    </div>
    </div>
  </div>
</div>
      </form>
</body>
</html>
{{end}}
