<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="css/Origami.css" rel="stylesheet" type="text/css" />
	<link href="css/elbuenfinSkin.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.validationEngine-es.js" charset="utf-8"></script>
	<script type="text/javascript" src="scripts/jquery.validationEngine.js" charset="utf-8"></script>
	<script type="text/javascript" src="scripts/jquery.form.js" charset="utf-8"></script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26907178-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<script type="text/javascript">
		$(document).ready(function(){ $("#enviar").validationEngine({promptPosition : "topRight", scroll: false}); });
		$(document).ready(function(){ $("#enviarmidata").validationEngine({promptPosition : "topRight", scroll: false}); });
		function activateCancel(){ $("#cancelbtn").addClass("show") }
		function deactivateCancel(){ $("#cancelbtn").removeClass("show") }
		</script>
	<style type="text/css">
#size {
		width: 300px;
		margin: 10px 10px;
	}
	.progress {
		float: right;
		position: relative;
		width: 310px;
		border: 1px solid #ddd;
		padding: 1px;
		border-radius: 3px;
	}
	.bar {
		background-color: grey;
		width: 0%;
		height: 20px;
		border-radius: 3px;
	}
	.percent {
		position: absolute;
		display: inline-block;
		top: 3px;
		left: 48%;
	}
	</style>
	<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
			var id = "{{with .FormData}}{{ .IdEmp|js}}{{end}}";
			var $pic = $("#pic");
			var $url = $("#url");
			var $size = $("#size");
			var max_size=400;
			$pic.error(function () { $(this).unbind("error").attr("src", "imgs/imageDefault.jpg"); });
			function update() {
				var query = "id="+id;
				$pic.attr("src", "/simg?"+query);
				$url.text("/simg?"+query);
			}
			$("#up").click(function() {
				w = $pic.width(); h = $pic.height();
				if (h > w) {
					r = w/h; h++; w = Math.ceil(h*r);
				} else {
					r = h/w; w++; h = Math.ceil(w*r);
				}
				$pic.width(w); $pic.height(h);
				$("#sizey").val(h); $("#sizex").val(w);
			});
			$("#down").click(function() {
				w = $pic.width(); h = $pic.height();
				if (h > w) {
					r = w/h; w--; h = Math.ceil(w/r);
				} else {
					r = h/w; h--; w = Math.ceil(h/r);
				}
				$pic.width(w); $pic.height(h);
				$("#sizey").val(h); $("#sizex").val(w);
			});
			update();
		(function() {
			
		var bar = $('.bar');
		var percent = $('.percent');
		var status = $('#status');
		   
		$('#enviar').ajaxForm({
			beforeSend: function() {
				status.empty();
				var percentVal = '0%';
				bar.width(percentVal)
				percent.html(percentVal);
			},
			uploadProgress: function(event, position, total, percentComplete) {
				var percentVal = percentComplete + '%';
				bar.width(percentVal)
				percent.html(percentVal);
			},
			complete: function(xhr) {
				status.html(xhr.responseText);
				update();
			}
		}); 

		})();       
		})
	</script>
	<title>Administración de Micrositio</title>
</head>
<body class="bgt-main">
<div class="col-100PR  bgt-red-top first">
  <div class="col-cent">
    <div class="col-24 first  BR-R-10px">
      <div class="col-4"> <img src="imgs/logo_header.png" width="124" height="124"  alt="el buen fin" class="marg-5px last"/> </div>
      <div class="col-6 last marg-U80pix lineUD marg-R5pix"> {{with .Sess}}
        <div class="pestana">
          <p class="first marg-10px">Hola {{.Name}}</p>
          <div class="last"><a href="/salir" class="button blue marg-10pix last"><span>SALIR</span></a></div>
        </div>
        {{end}} </div>
    </div>
    <div class="col-24  Bg-Wh marg-D10pix">
      <div class="menuAdmin">
        <div class="col-5" style="min-height:600px;"> <img src="gfx/menutitle.jpg" width="208" height="19" alt="menu" />
          <ul class="menuAdmin">
            <li><a href="/dash"><span><img src="gfx/inicio.png" width="17" height="19" alt="inicio" /></span> Inicio</a></li>
            <li><a href="/cta"><span><img src="gfx/admin.png" width="19" height="19" alt="administrador" /></span> Usuario</a></li>
            <li><a href="/le?d=a" class="selected"><span><img src="gfx/empresa.png" width="24" height="19" alt="empresas" /></span> Empresas</a></li>
            <li><a href="#"><span><img src="gfx/sucursal.png" width="20" height="19" alt="sucursales" /></span> Sucursales</a></li>
            <li><a href="#"><span><img src="gfx/oferta.png" width="20" height="19" alt="ofertas" /></span> Ofertas</a></li>
            <li><a href="/le?d=m"><span><img src="gfx/micrositio.png" width="25" height="19" alt="micrositios" /></span> Micrositios</a></li>
          </ul>
        </div>
        <div class="col-19 last "> {{with .Empresa}}
          <div class="titlecond">
            <h2 class="first">Micrositio de {{.Nombre}}</h2>
          </div>
          {{end}}
          {{with .Error}}
          {{if .Badformat}}
          <p>Formato de imagen Inválido, solo se acepta jpg y png de 1200 pixeles máximo</p>
          {{end}}
          {{if .Badencode}}
          <p>Imagen no puede codificarse intente otra</p>
          {{end}}
          {{if .Cantsave}}
          <p>Su imagen no puede ser almacenada en nuestra base de datos, intente más tarde</p>
          {{end}}
          {{end}}
          {{with .FormData}}
          <div class="first">
            <form action="/logoup" method="post" id="enviar" enctype="multipart/form-data">
              <input type="hidden" name="IdEmp" value="{{.IdEmp}}"/>
              <input type="hidden" name="tipo" value="async"/>
              <div class="col-19" id="addCont">
              <div class="col-18 marg-L10pix padd-10px">
              <div class="col-7 last"> <img class="outlined" id="pic" src="" alt="Logotipo empresa" width="100%" /> </div>
              <div class="col-10">
              <h3>Subir tu logotipo</h3>
              <div class="box1"> </div>
              <div class="line"> <img id="loading" src="imgs/loader.gif" style="display:none;" alt="cargador" />
                <div class="typ-Sc" id="status"></div>
                <input id="imgfile" type="text" class="medium" readonly="readonly"/>
                <div class="btn-upload last" style="width: 65px; height: 27px; margin: 0px; overflow: hidden;">
                  <input id="infile" type="file" class="validate[required]" name="image" onchange="$('#imgfile').val($('#infile').val()); $('#enviar').submit();" style="height: 27px; width: 166px; display: inline; cursor: pointer; opacity: 0; margin-left: -168px;"/>
                </div>
              </div>
              <div class="col-9 marg-10pix last">
                <div class="progress">
                  <div class="bar"></div >
                  <div class="percent">0%</div >
                </div>
              </div>
              <div class="warning ">
                <ul class=" alineLeft">
                  <li class="alineLeft">Sólo imagenes formato jpeg o png. </li>
                  <li class="alineLeft">Tamaño máximo 800x600 pixeles.</li>
                  <li class="alineLeft">Logotipo con fondo blanco.</li>
                </ul>
              </div>
            </form>
            <div class="line">
              <div class="first padd-5px">Si deseas sustituir la imagen sólo necesitas seleccionar otra </div>
            </div>
            <div class="col-18 marg-L10pix marg-D10pix"> </div>
          </div>
          <form action="/midata" method="post" id="enviarmidata" enctype="multipart/form-data">
            <input type="hidden" name="IdEmp" value="{{.IdEmp}}"/>
            <div class="col-19" id="addCont">
              <div class="col-18 marg-L10pix">
                <div class="col-10">
                  <div class="line"> </div>
                  <div class="line ">
                    <label>Título de logotipo</label>
                    <input type="text" class="validate[optional] medium {{.ErrName}}" name="Name" value="{{.Name}}" onchange="activateCancel()" />
                  </div>
                  <div class="line ">
                    <label>Enlace Web al que debe apuntar el logotipo (opcional)</label>
                    <input type="text" class="validate[optional,custom[url]] medium {{.ErrUrl}}" name="Url" value="{{.Url}}"  onchange="activateCancel()"/>
                  </div>
                  <div class="line ">
                    <h3>Datos adicionales</h3>
                    <label>Descripción de la empresa visible al público:</label>
                    <textarea class="validate[optional] medium last {{.ErrDesc}}" name="Desc" rows="3" cols="10" onchange="activateCancel()">{{.Desc}}</textarea>
                  </div>
                  <div class="col-8"> <span class="typ-Sc">* </span>Todos los campos marcados son obligatorios</div>
                  <div class="line ">
                    <button  name="Upload"  id="Uploadmidata" type="submit" class="red medium last" value="Upload"  ><span>Guardar</span></button>
                  </div>
                </div>
                <div class="col-18 marg-L10pix marg-D10pix"> </div>
              </div>
            </div>
          </form>
        </div>
        {{end}} </div>
</div></div></div>   
  <div class="box1 alineCenter"> <img src="imgs/abmlogo1.jpg" width="80" height="73" alt="abm" /><img src="imgs/amipcilogo80.jpg" width="76" height="80" alt="amici" /> <img src="imgs/orgn_4.jpg" width="107" height="80" alt="organismo"  class="padd-10px"/><img src="imgs/orgn_5.jpg" width="98" height="68" alt="consejo cordinador empresarial"  class="padd-10px"/><img src="imgs/concamin-75x80.jpg" width="75" height="80" alt="concamin" /><img src="imgs/logo-concanaco-107x76.jpg" width="96" height="62" alt="coparmex"  class="padd-10px" /> <img src="imgs/Logo-COPARMEX-95x80.jpg" width="67" height="49" alt="concanaco"  class="padd-10px"/><img src="imgs/orgn_6.jpg" alt="gobierno federal" width="98" height="73" /><img src="imgs/orgn_7.jpg" width="95" height="65" alt="iniciativa mexico"  class="padd-10px"/> </div>
  <div class=" box1">
    <p class="typeMin">El Buen Fin © Todos los derechos reservados, México 2011
      Toda la información aquí publicada relativa a las características de los productos y servicios que participan en El Buen Fin © es responsabilidad exclusiva de las tiendas que ofrecen los servicios y/o la venta de los productos. <br />
      Del mismo modo, los precios, los porcentajes de descuento, las promociones y todas las ofertas financieras y/o económicas aquí publicadas son responsabilidad de las tiendas que lo ofrecen. </p>
  </div>
 
  
</body>
</html>
