{{define "oferta"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="scripts/jquery.validationEngine-es.js" charset="utf-8"></script>
		<script type="text/javascript" src="scripts/jquery.validationEngine.js" charset="utf-8"></script>
		<script type="text/javascript" src="scripts/jquery.form.js" charset="utf-8"></script>
		<script type="text/javascript" src="../scripts/ofertas.js" charset="utf-8"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-26907178-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<script type="text/javascript" charset="utf-8">
			function activeLghtbx(){ $('#light').removeClass("hidden"); $('#box').removeClass("hidden"); }
			function activeOfer(){ $('#light').removeClass("hidden"); $('#boxOfert').removeClass("hidden"); }
			function deactiveOfer(){ $('#light').addClass("hidden"); $('#boxOfert').addClass("hidden"); }
			function deactiveLghtbx(){ $('#light').addClass("hidden"); $('#box').addClass("hidden"); }
			var idoft = "{{with .FormDataOf}}{{.IdOft|js}}{{end}}"; 
			var idemp = "{{with .Empresa}}{{.IdEmp}}{{end}}"; 
			$(document).ready(function() { $("#urlimg").attr('href', "{{with .FormDataOf}}{{.Url|js}}{{end}}");});
		</script>
		<style type="text/css">
			#size {
			width: 300px;
			margin: 10px 10px;
			}
			.progress {
			float: right;
			position: relative;
			width: 310px;
			border: 1px solid #ddd;
			padding: 1px;
			border-radius: 3px;
			}
			.bar {
			background-color: grey;
			width: 0%;
			height: 20px;
			border-radius: 3px;
			}
			.percent {
			position: absolute;
			display: inline-block;
			top: 3px;
			left: 48%;
			}
		</style>
		<title>Ofertas</title>
		<link href="../css/Origami.css" rel="stylesheet" type="text/css" />
		<link href="../css/elbuenfinSkin.css" rel="stylesheet" type="text/css" />
	</head>
	<body class="bgt-main">
		<!--oferta en grande-->
		<div class="ofertBox hidden" id="boxOfert">
			<div class="col-cent">
				<div class="col-24 Bg-Wh SHW-div-D3px" style="margin-top:10%;">
					<div class="Bg-Red">
						<a href="#null" onclick="deactiveOfer()"><img src="../gfx/cerraroferta.jpg" width="949" height="30" alt="Haz click para cerrar" /></a>
					</div>
					<div class="col-10 last marg-R10pix">
						<div class="col-10 last Bg-Drks outlined marg-U15pix " style="height:392px;">
							<h1 class="typ-Tr marg-10pix">AQUI VA LA IMAGEN </h1>
						</div>
						<!--Esta parte aparece solo si hay liga para el buen fin-->
						<div class="col-10 Bg-Red marg-U10pix">
							<img src="../gfx/El-Buen-Fin-En-Line.jpg" width="39" height="38" class="first"/>
							<p class="typ-Wh"> <strong>El Buen Fin en Línea</strong></p>
						</div>
						<div class="col-10 marg-U10pix">
							<a href="#">http://ligaDelaOfertaEnLine.com/codigodelaOferta</a>
						</div>
						<div class="box1 marg-U10pix">
							<h4 class="typ-Sc">SUCURSALES DISPONIBLES</h4>
							<hr />
							<ul class="sucList">
								<li><a href="#null">Condesa</a></li>
								<li><a href="#null">Polanco</a></li>
								<li><a href="#null">Toluca</a></li>
								<li><a href="#null">Izcalli</a></li>
								<li><a href="#null">Naucalpan</a></li>
								<li><a href="#null">Centro</a></li>
								<li><a href="#null">Miguel Hidalgo</a></li>
								<li><a href="#null">San Miguel de Ayende</a></li>
								<li><a href="#null">Queretaro</a></li>
								<li><a href="#null">Condesa</a></li>
								<li><a href="#null">Polanco</a></li>
								<li><a href="#null">Toluca</a></li>
								<li><a href="#null">Izcalli</a></li>
								<li><a href="#null">Naucalpan</a></li>
								<li><a href="#null">Centro</a></li>
								<li><a href="#null">Miguel Hidalgo</a></li>
								<li><a href="#null">San Miguel de Ayende</a></li>
								<li><a href="#null">Queretaro</a></li>
							</ul>
						</div>
					</div>
					<div class="col-14">
						<div class="col-3 padd-15px">
							<img src="#" width="76" height="80" alt="logo de la empresa" />
						</div>
						<h4 class="marg-L5pix last Dsblock marg-U10pix">{{with .Empresa}}{{.Nombre}}{{end}}</h4>
						<div class="col-14">
							<h2 class="typ-Sc marg-L10pix" id="oferTit2">{{with .FormDataOf}}{{.Oferta}}{{end}}</h2>
							<div class="col-13 padd-10px" style="height:215px;">
								<p>{{with .FormDataOf}}{{.Descripcion}}{{end}}</p>
							</div>
						</div>
						<div class="box1 marg-U10pix">
							<h4 class="typ-Sc">TIPO DE PROMOCION</h4>
							<hr />
							<ul class="promotional">
								<li>40% de descuento</li>
								<li>Meses sin intereses</li>
							</ul>
						</div>
						<div class="box1 marg-U10pix">
							<h4 class="typ-Sc">TARJETAS PARTICIPANTES</h4>
							<hr />
							<ul class="horizontalList">
								<li>Visa</li>
								<li>MasterCard</li>
								<li>Bancomer</li>
								<li>Santander</li>
								<li>Banorte</li>
								<li>Banamex</li>
								<li>HSBC</li>
								<li>DelBajio</li>
								<li></li>
							</ul>
						</div>
					</div>
				</div><!--termina col-24-->
			</div><!--termina col-cent-->
		</div><!--termina boxOfert-->

		<!--Subir imagen light box-->
		<div class="lightcenterdiv hidden" id="box">
			<div class="last pullRight-20 pullup-20">
				<a href="#null" onclick="deactiveLghtbx()"><img src="gfx/closeBTN.png" width="30" height="29" alt="cerrar" /></a>
			</div>
			<div id="imgform" class="first pullup-30">
				<form action="/ofimgup" method="post" id="enviar" enctype="multipart/form-data">
					<input type="hidden" name="IdOft" value="{{with .FormDataOf}}{{.IdOft}}{{end}}"/>
					<div class="box1">
						<h5 class="marg-L10pix">Subir imagen de oferta</h5>
						<div class="col-9">
							<ul>
								<li>SOLO EN FORMATO JPG O PNG</li>
								<li>ANCHO MINIMO 600 PIXELES</li>
								<li>PESO MAXIMO 1 MEGABYTE</li>
							</ul>
						</div>
						<div class="typ-Sc" id="status"></div>
						<input id="imgfile" type="text" class="medium marg-R25pix" readonly="readonly" />
						<div class="btn-upload last" style="width:65px; height:27px; margin:0px 25px 0px 0px; overflow: hidden;">
							<input id="infile" type="file" class="validate[required]" name="image" onchange="$('#imgfile').val($('#infile').val()); $('#enviar').submit();" style="height: 27px; width: 136px; display:inline-block; cursor: pointer; opacity: 0; margin-left: -168px;" />
						</div>
						<img id="loading" src="imgs/loader.gif" style="display:none;" alt="cargador" name="loading" />
						<div class="col-6 bg-Gry2 marg-D10pix marg-L20pix">
							<div class="progress">
								<div class="bar"></div>
								<div class="percent"> 0% </div>
							</div>
						</div>
						<div class="Addvice last marg-U15pix">
							<ul>
								<li>Su imagén sera ajustada en la vista previa</li>
								<li>Recomendamos subir ofertas en formato cuadrado</li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="lghtbox hidden" id="light"></div>
		<!-- termina Subir imagen-->

		<div class="col-100PR  bgt-red-top first">
			<div class="col-cent">
				<div class="col-24 first  BR-R-10px">
				<div class="col-4"> <img src="../imgs/logo_header.png" width="124" height="124"  alt="el buen fin" class="marg-5px last"/> </div>
				{{with .Sess}}
				<div class="pestana">
					<p class="first marg-10px">Hola {{.Name}}</p>
					<div class="last"><a href="/salir" class="button blue marg-10pix last"><span>SALIR</span></a></div>
				</div>
				{{end}} 
			</div>
			<div class="col-24  Bg-Wh marg-D10pix">
				<div class="menuAdmin">
					<div class="col-5" style="min-height:600px;">
						<img src="gfx/menutitle.jpg" width="208" height="19" alt="menu" />
						<ul class="menuAdmin">
							<li><a href="/dash"><span><img src="gfx/inicio.png" width="17" height="19" alt="inicio" /></span> Inicio</a></li>
							<li><a href="/cta"><span><img src="gfx/admin.png" width="19" height="19" alt="administrador" /></span> Usuario</a></li>
							<li><a href="/le?d=a"><span><img src="gfx/empresa.png" width="24" height="19" alt="empresas" /></span> Empresas</a></li>
							<li><a href="/le?d=s"><span><img src="gfx/sucursal.png" width="20" height="19" alt="sucursales" /></span> Sucursales</a></li>
							<li><a href="/le?d=o" class="selected"><span><img src="gfx/oferta.png" width="20" height="19" alt="ofertas" /></span> Ofertas</a></li>
							<li><a href="/le?d=m"><span><img src="gfx/micrositio.png" width="25" height="19" alt="micrositios" /></span> Micrositios</a></li>
							<li><a href="/avisos"><span><img src="gfx/Adviceicon.png" width="38" height="35" alt="avisos" /></span>Avisos</a></li>
							<li><a href="/mg"><span><img src="gfx/descargas.png" width="35" height="35" alt="materiales" /></span>Descargas</a></li>
						</ul>
						<div class="box1 marg-U15pix"><strong>Recuerda:<br />
							El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</strong>
						</div>
					</div>
					<div class="col-19 last">
						<div class="titlecond">
							<div class="col-18" style="overflow:hidden;height:38px;">
								<h6 class="marg-L5pix first typ-Tr">Oferta de <span class="typ-BK">{{with .Empresa}}{{.Nombre}}{{end}}</span></h6>
								<a href="/ofs?IdEmp={{with .Empresa}}{{.IdEmp}}{{end}}" class="button big grey last"><span>&lt;&lt;Regresar</span></a>
							</div>
						</div>
						<!-- Inicia estructura de campos Oferta -->    
						{{with .FormDataOf}}
						<form action="/ofmod" method="post" id="enviardata">
							<input type="hidden" value="a" name="s"/>
							<input type="hidden" name="IdOft" value="{{.IdOft}}" id="IdOft"/>
							<input type="hidden" name="IdEmp" value="{{.IdEmp}}" id="IdEmp"/>
							<div class="col-19 marg-D20pix"> 
								<div class="last col-8"> 
									<!--mensaje de la primera parte-->
									<div class="col-7 padd-10px Bg-Drks" id="message">
										<h3>Primera parte</h3>
										<p class="typeMx">Una vez realizada la primer captura podras ver la vista prelimiar de tu oferta</p>
									</div>
									<!--vista preliminar de la oferta en la busqueda-->
									<div class="col-8 hide" id="previewer">
										<div class="Addvice col-7">
											<h6 class="col-100PR typeMx typ-Tr alineCenter"> Vista preliminar </h6>
										</div>
										<a href="#null" class="button grey medium marg-L50pix"  onclick="activeLghtbx()" id="cards" name="cards">
											<span class="col-7 alineCenter">SUBIR O MODIFICAR IMÁGEN</span>
										</a>
										<!--div onclick="activeOfer();" -->
											<div class="col-7 marg-L10pix marg-U10pix marg-D10pix outlined SHW-div-D3px"> 
												<div class="box1">
													<div id="urlimg"><img src="" alt="Imagen de la oferta" width="258" id="pic" /> </div>
												</div>
												<div class="box1">
													<h3 class="typeStnd typ-BK" id="Empre">{{with .Empresa}}{{.Nombre}}{{end}}</h3>
													<h3 class="typ-Sc typeMx" id="oferLinea">{{if .Enlinea}}{{end}}</h3>
													<h4 class="typ-Sc typeMx" id="oferTit">{{.Oferta}}</h4>
												</div>
											</div>
										<!--/div-->
										<!--div class="Addvice col-7">Haz click en la oferta para ver la vista interior</div-->
									</div>
								</div>
								<div class="col-11 marg-L5pix">
									<!--TITULO DE LA OFERTA-->
									<div class=" col-10 padd-UD5px padd-LR15px marg-5px Bg-Drks">
										<label class="col-5"><span class="typ-Sc">*</span> Titulo de la Oferta</label>
										<input type="text" class="validate[required] medium {{.ErrOferta}}" name="Oferta" value="{{.Oferta}}" id="oferta" onchange="javascript:$('#oferTit').text($('#oferta').val()); activateCancel();"/>
										<div class="col-6 Addvice last"> Maximo 55 caracteres</div>
									</div>

									<!--CATEGORIAS-->
									<div class=" col-10 padd-UD5px padd-LR15px marg-L5pix Bg-Drks">
										<label class="col-3"><span class="typ-Sc">*</span> Categoria</label>
										<select name="IdCat" size="1" id="categoria" class="last medium" onchange="activateCancel();">
											<option value="00"> SELECCIONAR UNA </option>
											{{range .Categorias}} 
											<option value="{{.IdCat}}" {{if .Selected}}selected="{{.Selected}}"{{end}}>{{.Categoria}}</option>
											{{end}}					
										</select>
									</div>
									<!--CATEGORIAS-->
									<div class=" col-10 padd-UD5px padd-LR15px marg-5px Bg-Drks">
										<label class="col-5"> Descripción de la oferta</label>
										<textarea class="validate[optional] medium last {{.ErrDescripcion}}" name="Descripcion" cols="6" rows="6" id="descripcion" maxlength="200" onchange="javascript:$('#oferDesc').text($('#descripcion').val()); activateCancel();">{{.Descripcion}}</textarea>
										<span class="col-6 last Addvice">Maximo 350 carcteres</span>
									</div>
									<!--EL BUEN FIN EN LINEA-->
									<div class=" col-10 padd-UD5px padd-LR15px marg-LR5pix Bg-Drks">
										<label class="col-9 "> Si ya tienes promoción de tu producto en Internet ¡Participa en El Buen Fin en línea!</label>
										<input type="checkbox" class="last marg-10pix" name="Enlinea" value="1" id="enlinea" {{if .Enlinea}}checked="{{.Enlinea}}"{{end}} onchange="javascript:$('#oferLinea').text('Esta promoción participa en El Buen Fin en línea'); activateCancel();" />

										<label class="col-8"> Enlace web a tu oferta y/o sitio web</label>
										<div class="formErrorContent" id="urlreq" onclick="$('#urlreq').hide()"> Obligatorio indicar enlace si participa en El Buen Fin en línea </div>
										<input type="text" class="validate[optional,custom[url]] medium {{.ErrUrl}}" name="Url" value="{{.Url}}" id="url" onchange="javascript:$('#urlimg').attr('href', $('#url').val()); activateCancel();" />
									</div>
									<div class="marg-L15pix first"> <span class="typ-Sc">*</span> Todos los campos marcados son obligatorios </div>
									<div class="col-10" id="newbtn">
										<button type="submit" class="big red"><span class="col-6">Guardar y proseguir</span></button>
										<button type="reset" class="orange hidden" id="cancelbtn"><span class="col-5">Limpiar Campos</span></button>
									</div>
									<div class="col-10" id="modbtn">
										<button type="submit" class="big red last"><span>Modificar</span></button>
										<button type="reset" class="grey last marg-U15pix hidden" id="cancelbtn"><span>Limpiar Campos</span></button>
									</div>
								</div>
							</div>
						</form>
						{{end}}
						<!--COMEINZA SEGUNDA PARTE-->
						<div id="dataoferta">
							<!--SELECTOR DE PROMOCIONES-->
							<div class=" col-10 padd-UD5px padd-LR15px marg-5px Bg-Drks">
								<h6 class="col-100PR typeMx typ-Tr"> Promoción</h6>
								<div class="col-100PR first outlined Bg-Wh">
									<p class="marg-5px"> Condiciones agregadas </p>
									<div id="unpickpromo"><!--esto se llena automáticamente--></div>
								</div>

								<div class=" col-100PR Bg-Sec outlined first">
									<p class="marg-5px"> Sugerencias </p>
									<div id="pickpromo">
										<a href="#null" class="sugestWord promo" value="50" tipo="desc">50%</a>
										<a href="#null" class="sugestWord promo" value="40" tipo="desc">40%</a>
										<a href="#null" class="sugestWord promo" value="35" tipo="desc">35%</a>
										<a href="#null" class="sugestWord promo" value="30" tipo="desc">30%</a>
										<a href="#null" class="sugestWord promo" value="25" tipo="desc">25%</a>
										<a href="#null" class="sugestWord promo" value="20" tipo="desc">20%</a>
										<a href="#null" class="sugestWord promo" value="15" tipo="desc">15%</a>
										<a href="#null" class="sugestWord promo" value="10" tipo="desc">10%</a>
										<a href="#null" class="sugestWord promo" value="5" tipo="desc">5%</a>
										<a href="#null" class="sugestWord promo" value="2x1" tipo="promo">2x1</a>
										<a href="#null" class="sugestWord promo" value="3x2" tipo="promo">3x2</a>
										<a href="#null" class="sugestWord promo" value="Meses sin intereses" tipo="meses">Meses sin intereses</a>
										<a href="#null" class="sugestWord promo" value="Gratis en la compra de otro" tipo="promo">Gratis en la compra de otro</a>
										<a href="#null" class="sugestWord promo" value="Liquidación" tipo="promo">Liquidación</a>
									</div>
								</div>
								<div class="last Addvice"> Si no se ajustan las sugerencias, incluya su promoción en la descripción. </div>
							</div>
							<!--SELECTOR DE PALABRAS CLAVE-->
							<div class="col-10 padd-15px marg-L5pix Bg-Drks marg-U10pix">
								<h6 class="col-100PR typeMx typ-Tr"> Palabras Clave </h6>
								<div class="col-100PR first outlined Bg-Wh">
									<label class="col-15">Agregar palabra</label>
									<input type="text" class="selectWord" name="textopcve" value="" id="tokenpcve" />
									<div class=" first marg-U5pix marg-L10pix">
										<a href="#null" class=" button orange medium" id="nuevapcve"><span>Agregar palabra <img src="gfx/iconDown.png" width="15" height="20" /></span></a>
									</div>
								</div>
								<div id="pcvepicker"><!-- NO MOVER ESTE ID, se utiliza para poblar el contenido de este DIV-->
									<div class=" col-100PR Bg-Sec outlined first">
										<p class="clear"> Palabras elegidas </p>
										<div id="unpickpcve"><!--esto se llena automáticamente--></div>
									</div>
									<div class=" col-100PR Bg-Sec outlined first">
										<p class="marg-5px"> Sugerencias </p>
										<div id="pickpcve"><!--esto se llena automáticamente--></div>
									</div>
								</div>
								<div class="last Addvice"> Ayudan a mejorar los resultados de busqueda de tu oferta </div>  
							</div>
							<!--TARJETAS PARTICIPANTES-->
							<div class="col-10 padd-15px marg-L5pix Bg-Drks marg-U10pix">
								<div class="first"> 
									<p class="typeMx">Tarjetas participantes</p>         
								</div>
								<div class="first marg-L6pix marg-U5pix" id="listatc">
								<!-- relleno ajax -->
								</div>
							</div>
							<!--SUCURSALES-->
							<div class="col-10 padd-15px marg-L5pix Bg-Drks marg-U10pix">
								<div class="first" id="sucursales">
									<p class="typeMx">Esta oferta estará en:</p>   
									<div  class="first marg-L6pix marg-U5pix" id="listasuc"> 
										<!-- relleno ajax --> 
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Termina estructura de campos Oferta --> 
				</div>
				<div class="box1 alineCenter">
					<img src="../imgs/abmlogo1.jpg" width="80" height="73" alt="abm" /><img src="../imgs/amipcilogo80.jpg" width="76" height="80" alt="amici" />
					<img src="../imgs/orgn_4.jpg" width="107" height="80" alt="organismo"  class="padd-10px"/>
					<img src="../imgs/orgn_5.jpg" width="98" height="68" alt="consejo cordinador empresarial"  class="padd-10px"/>
					<img src="../imgs/concamin-75x80.jpg" width="75" height="80" alt="concamin" />
					<img src="../imgs/logo-concanaco-107x76.jpg" width="96" height="62" alt="coparmex"  class="padd-10px" />
					<img src="../imgs/Logo-COPARMEX-95x80.jpg" width="67" height="49" alt="concanaco"  class="padd-10px"/>
					<img src="../imgs/orgn_6.jpg" alt="gobierno federal" width="98" height="73" /><img src="../imgs/orgn_7.jpg" width="95" height="65" alt="iniciativa mexico"  class="padd-10px"/>
				</div>
				<div class=" box1">
					<p class="typeMin">El Buen Fin © Todos los derechos reservados, México 2011 Toda la información aquí publicada relativa a las características de los productos y servicios que participan en El Buen Fin © es responsabilidad exclusiva de las tiendas que ofrecen los servicios y/o la venta de los productos.<br /> Del mismo modo, los precios, los porcentajes de descuento, las promociones y todas las ofertas financieras y/o económicas aquí publicadas son responsabilidad de las tiendas que lo ofrecen.</p>
				</div>
			</div>
		</div>
	</body>
</html>
{{end}}
{{define "ofertas"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26907178-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<title>Listado de Ofertas</title>
	<link href="css/Origami.css" rel="stylesheet" type="text/css" />
	<link href="css/elbuenfinSkin.css" rel="stylesheet" type="text/css" />
	</head>
	<body class="bgt-main">
		<div class="col-100PR  bgt-red-top first">
			<div class="col-cent">
				<div class="col-24 first  BR-R-10px">
					<div class="col-4">
						<img src="../imgs/logo_header.png" width="124" height="124"  alt="el buen fin" class="marg-5px last"/>
					</div>
					<div class="col-14 typ-Wh marg-U80pix">
						<!--h4>El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</h4-->
					</div>
	
						{{with .Sess}}
						<div class="pestana">
							<p class="first marg-10px">Hola {{.Name}}</p>
							<div class="last"><a href="/salir" class="button blue marg-10pix last"><span>SALIR</span></a></div>
						</div>
						{{end}}
				
				</div>
				<div class="col-24  Bg-Wh marg-D10pix">
					<div class="menuAdmin">
						<div class="col-5" style="min-height:600px;">
							<img src="gfx/menutitle.jpg" width="208" height="19" alt="menu" />
							<ul class="menuAdmin">
								<li><a href="/dash"><span><img src="gfx/inicio.png" width="17" height="19" alt="inicio" /></span> Inicio</a></li>
								<li><a href="/cta"><span><img src="gfx/admin.png" width="19" height="19" alt="administrador" /></span> Usuario</a></li>
								<li><a href="/le?d=a"><span><img src="gfx/empresa.png" width="24" height="19" alt="empresas" /></span> Empresas</a></li>
								<li><a href="/le?d=s"><span><img src="gfx/sucursal.png" width="20" height="19" alt="sucursales" /></span> Sucursales</a></li>
                				<li><a href="/le?d=o" class="selected"><span><img src="../gfx/oferta.png" width="20" height="19" alt="ofertas" /></span> Ofertas</a></li>
								<li><a href="/le?d=m"><span><img src="gfx/micrositio.png" width="25" height="19" alt="micrositios" /></span> Micrositios</a></li>
								<li><a href="/avisos"><span><img src="gfx/Adviceicon.png" width="38" height="35" alt="avisos" /></span>Avisos</a></li>
								<li><a href="/mg"><span><img src="gfx/descargas.png" width="35" height="35" alt="materiales" /></span>Descargas</a></li>
							</ul>
							<div class="box1 marg-U15pix"><strong>Recuerda: El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</strong></div>
						</div>
						<div class="col-19 last">
							<div class="titlecond">
								<h2 class="first">Ofertas de</h2>
								<a href="/of?IdEmp={{with .Empresa}}{{.IdEmp}}{{end}}" class="button big red last"><span>AGREGAR OFERTA</span></a>
								<a href="/le?d=o" class="button big grey last"><span>&lt;&lt;Regresar</span></a>
							</div>
							<div class="box1"><h3 class="first">{{with .Empresa}}{{.Nombre}}{{end}}</h3></div>
							{{range .Oferta}}
							<div class="dataGrid">
								<div class="gridRow">
									<a href="/of?IdOft={{.IdOft}}&IdEmp={{.IdEmp}}"><span class="icon icochevroright"></span>{{.Oferta}}</a><a href="/ofdel?IdOft={{.IdOft}}&IdEmp={{.IdEmp}}&d=s" class="button orange marg-10pix last customDialog" onclick="javascript:if(confirm('¿Desea continuar y dar de baja esta oferta?')){return true;}else{return false;}"><span>ELIMINAR</span></a>
								</div>
							</div>
							{{else}}
							<div class="dataGrid">
								<div class="warning" >No hay ofertas</div>
							</div>
							{{end}}
						</div>
					</div>
				<div class="box1 alineCenter">
				<img src="../imgs/abmlogo1.jpg" width="80" height="73" alt="abm" /><img src="../imgs/orgn_4.jpg" width="107" height="80" alt="organismo"  class="padd-10px"/><img src="../imgs/amipcilogo80.jpg" width="76" height="80" alt="amici" /><img src="../imgs/orgn_5.jpg" width="98" height="68" alt="consejo cordinador empresarial"  class="padd-10px"/><img src="../imgs/concamin-75x80.jpg" width="75" height="80" alt="concamin" /><img src="../imgs/logo-concanaco-107x76.jpg" width="96" height="62" alt="coparmex"  class="padd-10px" /> <img src="../imgs/Logo-COPARMEX-95x80.jpg" width="67" height="49" alt="concanaco"  class="padd-10px"/><img src="../imgs/orgn_6.jpg" alt="gobierno federal" width="98" height="73" /><img src="../imgs/orgn_7.jpg" width="95" height="65" alt="iniciativa mexico"  class="padd-10px"/> 
			</div>
			<div class=" box1">
				<p class="typeMin">El Buen Fin © Todos los derechos reservados, México 2011
				Toda la información aquí publicada relativa a las características de los productos y servicios que participan en El Buen Fin © es responsabilidad exclusiva de las tiendas que ofrecen los servicios y/o la venta de los productos. <br />
				Del mismo modo, los precios, los porcentajes de descuento, las promociones y todas las ofertas financieras y/o económicas aquí publicadas son responsabilidad de las tiendas que lo ofrecen. </p>
			</div>
				</div>
		</div>
	</body>
</html>
{{end}}
