{{define "oferta"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.validationEngine-es.js" charset="utf-8"></script>
	<script type="text/javascript" src="scripts/jquery.validationEngine.js" charset="utf-8"></script>
	<script type="text/javascript" src="scripts/jquery.form.js" charset="utf-8"></script>
	<script type="text/javascript" src="scripts/ofertas.js" charset="utf-8"></script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26907178-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script type="text/javascript" charset="utf-8">
		 var idoft = "{{with .FormDataOf}}{{.IdOft|js}}{{end}}"; 
		$(document).ready(function() { $("#urlimg").attr('href', "{{with .FormDataOf}}{{.Url|js}}{{end}}");});
	</script>
	<style type="text/css">
	#size { width: 300px; margin: 10px 10px; }
	.progress { float: right; position: relative; width: 310px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
	.bar { background-color: grey; width: 0%; height: 20px; border-radius: 3px; }
	.percent { position: absolute; display: inline-block; top: 3px; left: 48%; }
	</style>
	<title>Ofertas</title>
	<link href="../css/Origami.css" rel="stylesheet" type="text/css" />
	<link href="../css/elbuenfinSkin.css" rel="stylesheet" type="text/css" />
	</head>
	<body class="bgt-main">
		<div class="col-100PR  bgt-red-top first">
			<div class="col-cent">
				<div class="col-24 first  BR-R-10px">
					<div class="col-4">
						<img src="../imgs/logo_header.png" width="124" height="124"  alt="el buen fin" class="marg-5px last"/>
					</div>
						{{with .Sess}}
						<div class="pestana">
							<p class="first marg-10px">Hola {{.Name}}</p>
							<div class="last"><a href="/salir" class="button blue marg-10pix last"><span>SALIR</span></a></div>
						</div>
						{{end}}
				</div>
				<div class="col-24  Bg-Wh marg-D10pix">
					<div class="menuAdmin">
						<div class="col-5" style="min-height:600px;">
							<img src="gfx/menutitle.jpg" width="208" height="19" alt="menu" />
							<ul class="menuAdmin">
								<li><a href="/dash"><span><img src="gfx/inicio.png" width="17" height="19" alt="inicio" /></span> Inicio</a></li>
								<li><a href="/cta"><span><img src="gfx/admin.png" width="19" height="19" alt="administrador" /></span> Usuario</a></li>
								<li><a href="/le?d=a"><span><img src="gfx/empresa.png" width="24" height="19" alt="empresas" /></span> Empresas</a></li>
								<li><a href="/le?d=s"><span><img src="gfx/sucursal.png" width="20" height="19" alt="sucursales" /></span> Sucursales</a></li>
                				<li><a href="/le?d=o" class="selected"><span><img src="gfx/oferta.png" width="20" height="19" alt="ofertas" /></span> Ofertas</a></li>
								<li><a href="/le?d=m"><span><img src="gfx/micrositio.png" width="25" height="19" alt="micrositios" /></span> Micrositios</a></li>
								<li><a href="/avisos"><span><img src="gfx/Adviceicon.png" width="38" height="35" alt="avisos" /></span>Avisos</a></li>
								<li><a href="/mg"><span><img src="gfx/descargas.png" width="35" height="35" alt="materiales" /></span>Descargas</a></li>
							</ul>
							<div class="box1 marg-U15pix"><strong>Recuerda:<br /> El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</strong></div>
						</div>
						<div class="col-19 last">
							<div class="titlecond">
                                <div class="col-18" style="overflow:hidden;height:38px;">
                                    <h2 class="first"> Detalle de Oferta</h2>
									<a href="/ofs?IdEmp={{with .Empresa}}{{.IdEmp}}{{end}}" class="button big grey last"><span>&lt;&lt;Regresar</span></a>
                                </div>
							</div>
							<div class="box1"><h3 class="first">{{with .Empresa}}{{.Nombre}}{{end}}</h3></div>
                            <div class="col-19">
								<!-- Inicia estructura de campos Oferta -->
								<div class="last col-8">
									<!--   vista previ de l aoferta -->
									<h6 class="col-100PR typeMx typ-Tr alineCenter">
										Vista preliminar
									</h6>
									<div class="col-7 marg-L30pix outlined SHW-div-D3px">
										<div class="box1">
											<a href="#" id="urlimg" target="_blank"><img src="" alt="Imagen de la oferta" width="258" height="256" id="pic" /></a>
										</div>
										<div class="box1">
											<h3 class="typeStnd" id="Empre">{{with .Empresa}}{{.Nombre}}{{end}}</h3>
											<h3 class="typ-Sc typeMx" id="oferLinea">{{with .FormDataOf}}{{if .Enlinea}}Esta promoción participa en El Buen Fin en línea{{end}}{{end}}</h3>
											<h4 class="typ-Sc typeMx" id="oferTit">{{with .FormDataOf}}{{.Oferta}}{{end}}</h4>
											<div id="oferDesc">
												<p class="typeMin marg-L5pix">{{with .FormDataOf}}{{.Descripcion}}{{end}}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-11 marg-L10pix">
									<div id="imgform">
										<form action="/ofimgup" method="post" id="enviar" enctype="multipart/form-data">
											<input type="hidden" name="IdOft" value="{{with .FormDataOf}}{{.IdOft}}{{end}}"/>
											<div class=" col-10 Bg-Drks padd-15px marg-5px">
												<label class="col-5 marg-L10pix">Subir imagen de oferta</label>
												<div class="typ-Sc" id="status"></div><input id="imgfile" type="text" class="medium" readonly="readonly" />
												<div class="btn-upload last" style="width: 65px; height: 27px; margin: 0px; overflow: hidden;">
													<input id="infile" type="file" class="validate[required]" name="image" onchange="$('#imgfile').val($('#infile').val()); $('#enviar').submit();" style="height: 27px; width: 166px; display: inline; cursor: pointer; opacity: 0; margin-left: -168px;" />
												</div>
												<div class="Addvice last">Sólo formato jpeg o png, tamaño máximo 258x256 pixeles</div>
												<img id="loading" src="imgs/loader.gif" style="display:none;" alt="cargador" name="loading" />
												<div class="col-8 last marg-U10pix bg-Gry2">
													<div class="progress">
														<div class="bar"></div>
														<div class="percent">
															0%
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
									<form action="/ofmod" method="post" id="enviardata">
										<input type="hidden" value="a" name="s"/>
										{{with .FormDataOf}}
										<input type="hidden" name="IdOft" value="{{.IdOft}}" id="IdOft"/>
										<input type="hidden" name="IdEmp" value="{{.IdEmp}}" id="IdEmp"/>
										<div class=" col-10 padd-15px marg-5px Bg-Drks">
											<label class="col-5"><span class="typ-Sc">*</span> Titulo de la Oferta</label>
											<input type="text" class="validate[required] medium {{.ErrOferta}}" name="Oferta" value="{{.Oferta}}" id="oferta" onchange="javascript:$('#oferTit').text($('#oferta').val()); activateCancel();"/>
										</div>
										<div class="col-10 padd-15px marg-L5pix">
											<label class="col-3"><span class="typ-Sc">*</span> Categoria</label>
											<select name="IdCat" size="1" id="categoria" class="last medium" onchange="activateCancel();">
												<option value="00"> SELECCIONAR UNA </option>
												{{range .Categorias}}
												<option value="{{.IdCat}}" {{if .Selected}}selected="{{.Selected}}"{{end}}>{{.Categoria}}</option>
												{{end}}
											</select>
										</div>
										<div class="col-10 padd-15px marg-5px Bg-Drks">
											<label class="col-5"> Descripción de la oferta</label> 
											<!-- MENSAJE AL DISEÑADOR: NO PONER SALTOS DE LINEA EN EL TEXTAREA -->
											<textarea class="validate[optional] medium last {{.ErrDescripcion}}" name="Descripcion" cols="6" rows="6" id="descripcion" maxlength="200" onchange="javascript:$('#oferDesc').text($('#descripcion').val()); activateCancel();">{{.Descripcion}}</textarea> <span class="typeMin last Addvice">Maximo 200 carcteres</span>
										</div>
										<!--div class=" col-10 padd-15px marg-5px Bg-Drks">
											<label class="col-5"> Precio</label>
											<input type="text" class="validate[optional] medium {{.ErrPrecio}}" name="Precio" value="{{.Precio}}" id="precio" onchange="javascript:$('#oferPrecio').text($('#precio').val()); activateCancel();"/>
											<label class="col-5"> Descuento</label>
											<input type="text" class="validate[optional] medium {{.ErrDescuento}}" name="Descuento" value="{{.Descuento}}" id="descuento" onchange="javascript:$('#oferDescuento').text($('#descuento').val()); activateCancel();"/>
										</div-->
										<div class=" col-10 padd-15px marg-5px Bg-Drks">
											<label class="col-8"> Si ya tienes promoción de tu producto en Internet ¡Participa en El Buen Fin en línea!</label>
											<input type="checkbox" class="medium last" name="Enlinea" value="1" id="enlinea" {{if .Enlinea}}checked="{{.Enlinea}}"{{end}} onchange="javascript:$('#oferLinea').text('Esta promoción participa en El Buen Fin en línea'); activateCancel();" />
										</div>
										<div class=" col-10 padd-15px marg-5px Bg-Drks">
											<label class="col-6"> Enlace web a tu oferta y/o sitio web</label>
											<div class="formErrorContent" id="urlreq" onclick="$('#urlreq').hide()">
												Obligatorio indicar enlace si participa en El Buen Fin en línea
											</div>
											<input type="text" class="validate[optional,custom[url]] medium {{.ErrUrl}}" name="Url" value="{{.Url}}" id="url" onchange="javascript:$('#urlimg').attr('href', $('#url').val()); activateCancel();" />
										</div>
										<div id="dataoferta">
											<div class="col-10 padd-15px marg-L5pix Bg-Drks">
												<h6 class="col-100PR typeMx typ-Tr">
													TIPO DE PROMOCION
												</h6>
												<div class="col-100PR first outlined Bg-Wh">
													<p class="marg-5px">
														Condiciones agregadas
													</p>
													<div id="unpickpromo"><!--esto se llena automáticamente--></div>
												</div>
												<div class=" col-100PR Bg-Sec outlined first">
													<p class="marg-5px">
														Sugerencias
													</p>
													<div id="pickpromo">
														<a href="#null" class="sugestWord promo" value="50" tipo="desc">50%</a>
														<a href="#null" class="sugestWord promo" value="40" tipo="desc">40%</a>
														<a href="#null" class="sugestWord promo" value="35" tipo="desc">35%</a>
														<a href="#null" class="sugestWord promo" value="30" tipo="desc">30%</a>
														<a href="#null" class="sugestWord promo" value="25" tipo="desc">25%</a>
														<a href="#null" class="sugestWord promo" value="20" tipo="desc">20%</a>
														<a href="#null" class="sugestWord promo" value="15" tipo="desc">15%</a>
														<a href="#null" class="sugestWord promo" value="10" tipo="desc">10%</a>
														<a href="#null" class="sugestWord promo" value="5" tipo="desc">5%</a>
														<a href="#null" class="sugestWord promo" value="2x1" tipo="promo">2x1</a>
														<a href="#null" class="sugestWord promo" value="3x2" tipo="promo">3x2</a>
														<a href="#null" class="sugestWord promo" value="Meses sin intereses" tipo="meses">Meses sin intereses</a>
														<a href="#null" class="sugestWord promo" value="Gratis en la compra de otro" tipo="promo">Gratis en la compra de otro</a>
														<a href="#null" class="sugestWord promo" value="Liquidación" tipo="promo">Liquidación</a>
													</div>
												</div>
												<div class="last Addvice">
													Si no se ajustan las sugerencias, incluya su promoción en la descripción. 
												</div>
											</div>
											<div class="col-10 padd-15px marg-L5pix Bg-Drks">
												<h6 class="col-100PR typeMx typ-Tr">
													Palabras Clave
												</h6>
												<div class="col-100PR first outlined Bg-Wh">
													<label class="col-15">Agregar palabra</label><input type="text" class="selectWord" name="DirCalle" value="" id="oferta" onchange="" />
													<div class=" first marg-U5pix marg-L10pix">
														<a href="#null" class=" button orange medium"><span>Agregar palabra <img src="gfx/iconDown.png" width="15" height="20" /></span></a>
													</div>
													<p class="clear">
														Palabras elegidas
													</p>
													<div id="unpickpcve"><!--esto se llena automáticamente--></div>
												</div>
												<div class=" col-100PR Bg-Sec outlined first">
													<p class="marg-5px">
														Sugerencias
													</p>
													<div id="pickpcve">
														<a href="#null" class="sugestWord pcve">llanta</a>
														<a href="#null" class="sugestWord pcve">motocicleta</a>
														<a href="#null" class="sugestWord pcve">autoparte</a>
														<a href="#null" class="sugestWord pcve">automovil</a>
														<a href="#null" class="sugestWord pcve">electrodomesticos</a>
														<a href="#null" class="sugestWord pcve">autoestereo</a>
													</div>
												</div>
												<div class="last Addvice">
													Ayudan a mejorar los resultados de busqueda de tu oferta
												</div>
											</div>
											<div class=" col-98PR marg-5px Bg-Drks padd-D15px first">
												<div class="first marg-L10pix marg-U10pix">
													<a href="#null" class="button orange medium marg-L50pix" id="cards" name="cards">
													<div class="col-10 padd-D5px alineCenter">
														Tarjetas Paticipantes <img src="gfx/iconDown2.png" width="15" height="20" alt="mas informacion" />
													</div></a>
												</div>
												<div class="first marg-L15pix toggleZero marg-U5pix" id="allcards">
													<div class="bg-Gry3 col-10">
														<label class="col-3 marg-L10pix">Todas</label> <input name="selectAll2" type="checkbox" class="last marg-R15pix marg-U5pix" value="" />
													</div>
													<div class=" bg-Gry1 col-5">
														<label class="col-3 marg-L10pix">American Express</label> <input name="selectAll3" type="checkbox" class="last marg-R15pix marg-U5pix" value="" />
													</div>
													<div class="bg-Gry2 col-5 marg-L10pix">
														<label class="col-3 marg-L10pix">Visa</label> <input name="selectAll2" type="checkbox" class="last marg-R15pix marg-U5pix" value="" />
													</div>
													<div class="bg-Gry2 col-5">
														<label class="col-3 marg-L10pix">Master Card</label> <input name="selectAll2" type="checkbox" class="last marg-R15pix marg-U5pix" value="" />
													</div>
													<div class="bg-Gry1 col-5 marg-L10pix">
														<label class="col-3 marg-L10pix">Bancomer</label> <input name="selectAll2" type="checkbox" class="last marg-R15pix marg-U5pix" value="" />
													</div>
													<div class="bg-Gry1 col-5">
														<label class="col-3 marg-L10pix">Banamex</label> <input name="selectAll2" type="checkbox" class="last marg-R15pix marg-U5pix" value="" />
													</div>
													<div class="bg-Gry2 col-5 marg-L10pix">
														<label class="col-3 marg-L10pix">Banorte</label> <input name="selectAll2" type="checkbox" class="last marg-R15pix marg-U5pix" value="" />
													</div>
													<div class="bg-Gry2 col-5">
														<label class="col-3 marg-L10pix">HSBC</label> <input name="selectAll2" type="checkbox" class="last marg-R15pix marg-U5pix" value="" />
													</div>
													<div class="bg-Gry2 col-5 marg-L10pix">
														<label class="col-3 marg-L10pix">Santander</label> <input name="selectAll2" type="checkbox" class="last marg-R15pix marg-U5pix" value="" />
													</div>
													<div class="bg-Gry1 col-5">
														<label class="col-3 marg-L10pix">ScotianBank<br /></label> <input name="selectAll2" type="checkbox" class="last marg-R15pix marg-U5pix" value="" />
													</div>
												</div>
											</div>
											<div class=" col-98PR marg-5px Bg-Drks padd-D15px first">
												<div class="first marg-L10pix marg-U10pix">
													<a href="#null" class="button orange medium marg-L50pix" id="SUC" name="SUC">
													<div class="col-10 padd-D5px alineCenter">
														Tu oferta está en las siguientes sucursales<img src="gfx/iconDown2.png" width="15" height="20" alt="mas informacion" />
													</div></a>
												</div>
												<div class="first marg-L10 pix toggleZero marg-U5pix" id="sucursales">
													<div class="bg-Gry3 col-10 marg-L15pix">
														<label class="col-5 marg-L10pix">Todas las sucursales</label> <input name="selectAll" type="checkbox" class="last marg-R15pix marg-U5pix" value="" />
													</div>
													<div class="col-10 marg-L15pix outlined" style="overflow-y:auto; overflow-x:hidden; height:200px;">
														<div class="gridsubRow bg-Gry2">
															<label class="col-5 marg-L10pix">Condesa</label> <input name="selectAll" type="checkbox" class="last marg-5px" value="" />
														</div>
														<div class="gridsubRow bg-Gry1">
															<label class="col-5 marg-L10pix">Roma</label> <input name="selectAll" type="checkbox" class="last marg-5px" value="" />
														</div>
														<div class="gridsubRow bg-Gry2">
															<label class="col-5 marg-L10pix">Polanco</label> <input name="selectAll" type="checkbox" class="last marg-5px" value="" />
														</div>
														<div class="gridsubRow bg-Gry1">
															<label class="col-5 marg-L10pix">Narvarte</label> <input name="selectAll" type="checkbox" class="last marg-5px" value="" />
														</div>
														<div class="gridsubRow bg-Gry2">
															<label class="col-5 marg-L10pix">Doctores</label> <input name="selectAll" type="checkbox" class="last marg-5px" value="" />
														</div>
														<div class="gridsubRow bg-Gry1">
															<label class="col-5 marg-L10pix">Santa Maria la Rivera</label> <input name="selectAll" type="checkbox" class="last marg-5px" value="" />
														</div>
														<div class="gridsubRow bg-Gry2">
															<label class="col-5 marg-L10pix">Springfield</label> <input name="selectAll" type="checkbox" class="last marg-5px" value="" />
														</div>
														<div class="gridsubRow bg-Gry1">
															<label class="col-5 marg-L10pix">Roma</label> <input name="selectAll" type="checkbox" class="last marg-5px" value="" />
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="first Addvice">
											<span class="typ-Sc">*</span> Todos los campos marcados son obligatorios
										</div>
										<div class="first Addvice">
											<strong>Para terminar de capturar los datos de la oferta, primero debe guardar</strong>
										</div>
										<div class="col-4 last clear" id="modbtn">
											<button type="submit" class="big red last"><span>Modificar</span></button>
											<button type="reset" class="grey last marg-U15pix hidden" id="cancelbtn"><span>Limpiar Campos</span></button>
										</div>
										<div class="col-4 last clear" id="newbtn">
											<button type="submit" class="big red"><span>Guardar</span></button>
											<button type="reset" class="grey hidden" id="cancelbtn"><span>Limpiar Campos</span></button>
										</div>
										{{end}}
									</form>
								</div>
								<!-- Termina estructura de campos Oferta -->
							</div>
						</div>
					</div>
					<div class="box1 alineCenter"> <img src="../imgs/abmlogo1.jpg" width="80" height="73" alt="abm" /><img src="../imgs/amipcilogo80.jpg" width="76" height="80" alt="amici" /><img src="../imgs/orgn_4.jpg" width="107" height="80" alt="organismo"  class="padd-10px"/><img src="../imgs/orgn_5.jpg" width="98" height="68" alt="consejo cordinador empresarial"  class="padd-10px"/><img src="../imgs/concamin-75x80.jpg" width="75" height="80" alt="concamin" /><img src="../imgs/logo-concanaco-107x76.jpg" width="96" height="62" alt="coparmex"  class="padd-10px" /> <img src="../imgs/Logo-COPARMEX-95x80.jpg" width="67" height="49" alt="concanaco"  class="padd-10px"/><img src="../imgs/orgn_6.jpg" alt="gobierno federal" width="98" height="73" /><img src="../imgs/orgn_7.jpg" width="95" height="65" alt="iniciativa mexico"  class="padd-10px"/> </div>
					<div class=" box1">
						<p class="typeMin">El Buen Fin © Todos los derechos reservados, México 2011
						Toda la información aquí publicada relativa a las características de los productos y servicios que participan en El Buen Fin © es responsabilidad exclusiva de las tiendas que ofrecen los servicios y/o la venta de los productos. <br />
						Del mismo modo, los precios, los porcentajes de descuento, las promociones y todas las ofertas financieras y/o económicas aquí publicadas son responsabilidad de las tiendas que lo ofrecen. </p>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>
{{end}}
{{define "ofertas"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26907178-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<title>Listado de Ofertas</title>
	<link href="css/Origami.css" rel="stylesheet" type="text/css" />
	<link href="css/elbuenfinSkin.css" rel="stylesheet" type="text/css" />
	</head>
	<body class="bgt-main">
		<div class="col-100PR  bgt-red-top first">
			<div class="col-cent">
				<div class="col-24 first  BR-R-10px">
					<div class="col-4">
						<img src="../imgs/logo_header.png" width="124" height="124"  alt="el buen fin" class="marg-5px last"/>
					</div>
					<div class="col-14 typ-Wh marg-U80pix">
						<!--h4>El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</h4-->
					</div>
	
						{{with .Sess}}
						<div class="pestana">
							<p class="first marg-10px">Hola {{.Name}}</p>
							<div class="last"><a href="/salir" class="button blue marg-10pix last"><span>SALIR</span></a></div>
						</div>
						{{end}}
				
				</div>
				<div class="col-24  Bg-Wh marg-D10pix">
					<div class="menuAdmin">
						<div class="col-5" style="min-height:600px;">
							<img src="gfx/menutitle.jpg" width="208" height="19" alt="menu" />
							<ul class="menuAdmin">
								<li><a href="/dash"><span><img src="gfx/inicio.png" width="17" height="19" alt="inicio" /></span> Inicio</a></li>
								<li><a href="/cta"><span><img src="gfx/admin.png" width="19" height="19" alt="administrador" /></span> Usuario</a></li>
								<li><a href="/le?d=a"><span><img src="gfx/empresa.png" width="24" height="19" alt="empresas" /></span> Empresas</a></li>
								<li><a href="/le?d=s"><span><img src="gfx/sucursal.png" width="20" height="19" alt="sucursales" /></span> Sucursales</a></li>
                				<li><a href="/le?d=o" class="selected"><span><img src="../gfx/oferta.png" width="20" height="19" alt="ofertas" /></span> Ofertas</a></li>
								<li><a href="/le?d=m"><span><img src="gfx/micrositio.png" width="25" height="19" alt="micrositios" /></span> Micrositios</a></li>
								<li><a href="/avisos"><span><img src="gfx/Adviceicon.png" width="38" height="35" alt="avisos" /></span>Avisos</a></li>
								<li><a href="/mg"><span><img src="gfx/descargas.png" width="35" height="35" alt="materiales" /></span>Descargas</a></li>
							</ul>
							<div class="box1 marg-U15pix"><strong>Recuerda: El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</strong></div>
						</div>
						<div class="col-19 last">
							<div class="titlecond">
								<h2 class="first">Ofertas de</h2>
								<a href="/of?IdEmp={{with .Empresa}}{{.IdEmp}}{{end}}" class="button big red last"><span>AGREGAR OFERTA</span></a>
								<a href="/le?d=o" class="button big grey last"><span>&lt;&lt;Regresar</span></a>
							</div>
							<div class="box1"><h3 class="first">{{with .Empresa}}{{.Nombre}}{{end}}</h3></div>
							{{range .Oferta}}
							<div class="dataGrid">
								<div class="gridRow">
									<a href="/of?IdOft={{.IdOft}}&IdEmp={{.IdEmp}}"><span class="icon icochevroright"></span>{{.Oferta}}</a><a href="/ofdel?IdOft={{.IdOft}}&IdEmp={{.IdEmp}}&d=s" class="button orange marg-10pix last customDialog" onclick="javascript:if(confirm('¿Desea continuar y dar de baja esta sucursal?')){return true;}else{return false;}"><span>ELIMINAR</span></a>
								</div>
							</div>
							{{else}}
							<div class="dataGrid">
								<div class="warning" >No hay ofertas</div>
							</div>
							{{end}}
						</div>
					</div>
				<div class="box1 alineCenter">
				<img src="../imgs/abmlogo1.jpg" width="80" height="73" alt="abm" /><img src="../imgs/orgn_4.jpg" width="107" height="80" alt="organismo"  class="padd-10px"/><img src="../imgs/amipcilogo80.jpg" width="76" height="80" alt="amici" /><img src="../imgs/orgn_5.jpg" width="98" height="68" alt="consejo cordinador empresarial"  class="padd-10px"/><img src="../imgs/concamin-75x80.jpg" width="75" height="80" alt="concamin" /><img src="../imgs/logo-concanaco-107x76.jpg" width="96" height="62" alt="coparmex"  class="padd-10px" /> <img src="../imgs/Logo-COPARMEX-95x80.jpg" width="67" height="49" alt="concanaco"  class="padd-10px"/><img src="../imgs/orgn_6.jpg" alt="gobierno federal" width="98" height="73" /><img src="../imgs/orgn_7.jpg" width="95" height="65" alt="iniciativa mexico"  class="padd-10px"/> 
			</div>
			<div class=" box1">
				<p class="typeMin">El Buen Fin © Todos los derechos reservados, México 2011
				Toda la información aquí publicada relativa a las características de los productos y servicios que participan en El Buen Fin © es responsabilidad exclusiva de las tiendas que ofrecen los servicios y/o la venta de los productos. <br />
				Del mismo modo, los precios, los porcentajes de descuento, las promociones y todas las ofertas financieras y/o económicas aquí publicadas son responsabilidad de las tiendas que lo ofrecen. </p>
			</div>
				</div>
		</div>
	</body>
</html>
{{end}}
