<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/sucursales.js" charset="utf-8"></script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26907178-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<title>Ofertas</title>
	<link href="../css/Origami.css" rel="stylesheet" type="text/css" />
	<link href="../css/elbuenfinSkin.css" rel="stylesheet" type="text/css" />
	</head>
	<body class="bgt-main">
    <div class="col-100PR  bgt-red-top first">
      <div class="col-cent">
        <div class="col-24 first  BR-R-10px">
          <div class="col-4"> <img src="../imgs/logo_header.png" width="124" height="124"  alt="el buen fin" class="marg-5px last"/> </div>
          <div class="col-14 typ-Wh marg-U80pix">
            <!--h4>El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</h4-->
          </div>
          <div class="col-6 last marg-U80pix lineUD marg-R5pix">
            <div class="pestana">
              <p class="first marg-10px">Hola {{.Name}}</p>
              <div class="last"><a href="/salir" class="button blue marg-10pix last"><span>SALIR</span></a></div>
            </div>
          </div>
        </div>
        <div class="col-24  Bg-Wh marg-D10pix">
          <div class="menuAdmin">
            <div class="col-5" style="min-height:600px;"> <img src="../gfx/menutitle.jpg" width="208" height="19" alt="menu" />
              <ul class="menuAdmin">
                <li><a href="/dash"><span><img src="../gfx/inicio.png" width="17" height="19" alt="inicio" /></span> Inicio</a></li>
                <li><a href="/cta"><span><img src="../gfx/admin.png" width="19" height="19" alt="administrador" /></span> Usuario</a></li>
                <li><a href="/le?d=a" class="selected"><span><img src="../gfx/empresa.png" width="24" height="19" alt="empresas" /></span> Empresas</a></li>
                <li><a href="/le?d=s"><span><img src="../gfx/sucursal.png" width="20" height="19" alt="sucursales" /></span> Sucursales</a></li>
                <li><a href="#"><span><img src="../gfx/oferta.png" width="20" height="19" alt="ofertas" /></span> Ofertas</a></li>
                <li><a href="/le?d=m"><span><img src="../gfx/micrositio.png" width="25" height="19" alt="micrositios" /></span> Micrositios</a></li>
                <li><a class="selected" href="/avisos"><span><img src="../gfx/Adviceicon.png" width="38" height="35" alt="avisos" /></span>Avisos</a></li>
				<li><a class="selected" href="/ElBuenFin_Materiales.zip"><span><img src="gfx/descargas.png" width="35" height="35" alt="materiales" /></span>Material gráfico</a></li>
              </ul>
			  <div class="box1 marg-U15pix"><strong>El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</strong></div>
            </div>
            <div class="col-19 last">
              <div class="titlecond">
                <div class="col-18" style="overflow:hidden;height:38px;"> <a href="/le?d=s" class="button big grey first"><span>&lt;&lt;</span></a>
                  <h3 class="first">Oferta  de {{with .Empresa}}</h3>
                </div>
              </div>
              <div class="box1 marg-U10pix">
                <div class="last col-9"> 
                  <!--   vista previ de l aoferta -->
                  <div class="col-7 marg-L30pix outlined SHW-div-D3px">
                    <div class="box1 "> <img src="../imgs/imageDefault.jpg" alt="Imagen de la oferta" width="258" height="256"  id="pic" /></div>
                    <div class="box1">
                   <h3 class="typeStnd"  id="Empre">Nombre de la Empresa</h3>
                    <h4 class="typ-Sc typeMx" id="oferTit">1234567890123456789012345678</h4>
                    <div id="dscipt"><p class="typeMin marg-L5pix">Esto es una descripcion general de la oferte</p></div>
                    </div>
                  </div>
                  <div class="col-7 marg-L30pix">
                      <p>Esta oferta estara disponble en<span class="typ-Sc"> * </span>:</p>
                  </div><div class="col-7  marg-L30pix" >
                  <div class="gridsubRow  Bg-Drks">
                        <label class="col-5  marg-L10pix"> Todas las Sucursales</label>
                         <input name="selectAll" type="checkbox" class="last marg-R15pix marg-U5pix" value="" />
                      </div></div>
                    <div class="col-7  marg-L30pix outlined"  style="overflow-y:auto; overflow-x:hidden; height:165px;">
                      
                      <div class="gridsubRow  bg-Gry2 ">
                        <label class="col-5  marg-L10pix">Condesa</label>
                         <input name="selectAll" type="checkbox" class="last  marg-5px " value="" />
                      </div>
                      <div class="gridsubRow  bg-Gry1 ">
                        <label class="col-5  marg-L10pix">Roma</label>
                         <input name="selectAll" type="checkbox" class="last  marg-5px " value="" />
                      </div>
                      <div class="gridsubRow  bg-Gry2 ">
                        <label class="col-5  marg-L10pix">Polanco</label>
                         <input name="selectAll" type="checkbox" class="last  marg-5px " value="" />
                      </div>
                          <div class="gridsubRow  bg-Gry1 ">
                        <label class="col-5  marg-L10pix">Narvarte</label>
                         <input name="selectAll" type="checkbox" class="last  marg-5px " value="" />
                      </div>
                          <div class="gridsubRow  bg-Gry2 ">
                        <label class="col-5  marg-L10pix">Doctores</label>
                        <input name="selectAll" type="checkbox" class="last  marg-5px " value="" />
                      </div>
                          <div class="gridsubRow  bg-Gry1 ">
                        <label class="col-5  marg-L10pix">Santa Maria la Rivera</label>
                    <input name="selectAll" type="checkbox" class="last  marg-5px " value="" />
                      </div>
                          <div class="gridsubRow  bg-Gry2 ">
                        <label class="col-5  marg-L10pix">Springfield</label>
                        <input name="selectAll" type="checkbox" class="last  marg-5px " value="" />
                      </div>
                                            <div class="gridsubRow  bg-Gry1 ">
                        <label class="col-5  marg-L10pix">Roma</label>
                         <input name="selectAll" type="checkbox" class="last  marg-5px " value="" />
                      </div>
        

                    </div>
                </div>
                <div class="col-9">
                <label class="col-5  marg-L10pix">Imagen a subir</label>
                  <form action="/logoup" method="post" id="enviar" enctype="multipart/form-data">
                    <input type="hidden" name="IdEmp" value="{{.IdEmp}}"/>
                    <input type="hidden" name="tipo" value="async"/>
                    
                    <div class=" col-9 marg-D10pix"> <img id="loading" src="imgs/loader.gif" style="display:none;" alt="cargador" />
                      <div class="typ-Sc" id="status"></div>
                      <input id="imgfile" type="text" class="medium" readonly="readonly"/>
                      <div class="btn-upload last" style="width: 65px; height: 27px; margin: 0px; overflow: hidden;">
                        <input id="infile" type="file" class="validate[required]" name="image" onchange="$('#imgfile').val($('#infile').val()); $('#enviar').submit();" style="height: 27px; width: 166px; display: inline; cursor: pointer; opacity: 0; margin-left: -168px;"/>
                      </div>
                      <div class=" last marg-R10pix">
                      Sólo imagenes formato jpeg o png. <br />
                       Tamaño máximo 800x600 pixeles.
                    </div>
                    
                    <div class="col-8 last marg-U10pix">
                      <div class="progress">
                        <div class="bar"></div >
                        <div class="percent">0%</div >
                      </div>
                    </div>
                    
                    </div>
                    
                    <div class="box1 marg-U10pix">
  <label class="col-5 marg-U20pix"> Titulo de la Oferta<span class="typ-Sc"> * </span></label>
                      <input type="text" class="validate[required] medium {{.ErrDirCalle}}" name="DirCalle" value="" id="oferta" onchange="javascript:$('#oferTit').text($('#oferta').val()); "/>
                    </div>
                    <div class="box1 marg-U10pix">
                      <label class="col-5"> Descripción de la oferta<span class="typ-Sc"> * </span></label>
                      <textarea name="DesciptOfer" cols="6" rows="6" class="medium last"></textarea>
                      <span class="typeMin last Addvice">Maximo 100 carcteres</span> </div>
                    <div class="box1 marg-U10pix">
                      <label class="col-5"> Caracteristicas del producto<span class="typ-Sc"> * </span></label>
                      <textarea name="DesciptOfer" cols="6" rows="6" class="medium last"></textarea>
                    </div>
                    <div class="col-8 last Addvice"> <span class="typ-Sc">* </span>Todos los campos marcados son obligatorios</div>
                    <div class="box1">
                      <button type="button" id="buscar" class="red last big"><span>Enviar Oferta</span></button>
                    </div>
                    <div class="col-18 marg-L10pix marg-D10pix">
                      
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="box1 alineCenter"> <img src="../imgs/abmlogo1.jpg" width="80" height="73" alt="abm" /><img src="../imgs/amipcilogo80.jpg" width="76" height="80" alt="amici" /><img src="../imgs/orgn_4.jpg" width="107" height="80" alt="organismo"  class="padd-0px"/><img src="../imgs/orgn_5.jpg" width="98" height="68" alt="consejo cordinador empresarial"  class="padd-10px"/><img src="../imgs/concamin-75x80.jpg" width="75" height="80" alt="concamin" /><img src="../imgs/logo-concanaco-107x76.jpg" width="96" height="62" alt="coparmex"  class="padd-10px" /> <img src="../imgs/Logo-COPARMEX-95x80.jpg" width="67" height="49" alt="concanaco"  class="padd-10px"/><img src="../imgs/orgn_6.jpg" alt="gobierno federal" width="98" height="73" /><img src="../imgs/orgn_7.jpg" width="95" height="65" alt="iniciativa mexico"  class="padd-10px"/> </div>
          <div class=" box1">
            <p class="typeMin">El Buen Fin © Todos los derechos reservados, México 2011
              Toda la información aquí publicada relativa a las características de los productos y servicios que participan en El Buen Fin © es responsabilidad exclusiva de las tiendas que ofrecen los servicios y/o la venta de los productos. <br />
              Del mismo modo, los precios, los porcentajes de descuento, las promociones y todas las ofertas financieras y/o económicas aquí publicadas son responsabilidad de las tiendas que lo ofrecen. </p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
